.toggle-switch {
  cursor: pointer;
  display: flex;
  position: relative;
  margin-left: auto;
  background-color: #fff;
  border-radius: 20px;
}

.toggle-switch__checkbox {
  cursor: pointer;
  appearance: none;
  border-radius: 20px;
  border: 2px solid #7e7e7e;
  width: 58px;
  height: 28px;
}

.toggle-switch__checkbox:hover {
  border: 2px solid #000;
}

.toggle-switch__slider {
  cursor: pointer;
  position: absolute;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;
  transition: 0.7s ease all;
}

.toggle-switch__active {
  font-size: 14px;
  color: #fff;
}

.toggle-switch_C {
  left: 29px;
}

.toggle-switch_F {
  left: -1px;
}

.toggle-switch_temp-C {
  position: absolute;
  color: #fff;
  font-size: 14px;
  top: -11px;
  left: 38px;
}
.toggle-switch_temp-F {
  position: absolute;
  color: #fff;
  font-size: 14px;
  top: -11px;
  left: 10px;
}
