.modal__content_type_confirmation {
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: absolute;
  height: 280px;
}

.modal__options {
  display: flex;
  flex-direction: column;
}

.modal__confirm-caption {
  position: relative;
  text-align: center;
  margin: 0 0 40px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__button-delete {
  cursor: pointer;
  border: none;
  position: relative;
  padding: 0;
  color: #ff4d00;
  background: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-left: auto;
}

.modal__button-delete:hover {
  cursor: pointer;
  color: red;
  transition: 0.2s, ease-in;
}

.modal__button-cancel {
  cursor: pointer;

  border: none;
  position: relative;
  padding: 0;
  color: #000;
  background: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__button-cancel:hover {
  cursor: pointer;
  opacity: 60%;
  transition: 0.2s, ease-in;
}
