.card {
  display: flex;
  position: relative;
  justify-content: center;
  width: 325px;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}

.card__title {
  position: absolute;
  margin: 0;
  top: 15px;
  opacity: 60%;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
  padding: 2px 12px;
}

.card__image {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.card__image:hover {
  cursor: pointer;
  opacity: 50%;
  transition: 0.2s, ease-in;
}
.card__like-button {
  background-color: red; /* Temporary to make it visible */
  width: 21px;
  height: 18px;
  border: 1px solid black; /* Temporary to make it visible */
  cursor: pointer;
  position: absolute;
  top: 15px;

  right: 12px;
}

/*.card__like-button {
  background: transparent url(../../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 12px;
}*/

.card__like-button_active {
  background-image: url(../../images/like-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  transition: 0.3s;
}
