.card {
  display: flex;
  position: relative;
  justify-content: center;
  width: 325px;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
  opacity: 75%;
  transition: 0.2s, ease-in;
}

.card__title {
  position: absolute;
  margin: 0;
  top: 15px;
  opacity: 60%;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
  padding: 2px 12px;
}

.card__image {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.card__like-button {
  background: transparent url(../../assets/like_button-inactive.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  /* right: 102px; */
  right: 85px;
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../../assets/like_button-active.svg);
  opacity: 0.9;
}

.card__like-button:hover {
  opacity: 0.3;
  transition: 0.3s;
}
