.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
  margin-bottom: 5px;
  display: flex;
}

.header__date-location {
  margin: 0;
}

.header__add-clothes-button {
  margin: 0 20px 0 auto;
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.header__add-clothes-button:hover {
  cursor: pointer;
  opacity: 60%;
  transition: 0.2s, ease-in;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__avatar:hover {
  cursor: pointer;
  opacity: 60%;
  transition: 0.2s, ease-in;
}
