.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 171px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.footer__title {
  margin: 0;
}

.footer__year {
  margin: 0;
}
